<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Groupie Tracker</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <h1>Groupie Tracker</h1>
    </header>

    <main>
        <div class="artist-grid">
            {{range .}}
            <section class="artist-card">
                <h2>{{.Name}}</h2>
                <img src="{{.Image}}" alt="{{.Name}}">
                <p>Created: {{.CreationDate}}</p>
                <p>First album: {{.FirstAlbum}}</p>
            </section>
            {{end}}
        </div>
    </main>
</body>

</html>