<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Groupie Tracker</title>
    <link rel="icon" type="image/png" href="/static/logo.png">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div class="site-logo">
            <a href="/" class="site-logo">
                <img src="/static/logo.png" alt="Groupie Tracker logo">
                <h1>Groupie Tracker</h1>
            </a>
        </div>

        <div class="navigation-buttons">
            <nav>
                <a href="/" class="error-home-button">Home</a>
            </nav>
        </div>

        <form class="header-search" action="/search" method="GET">
            <input type="text" name="query" placeholder="Search artists..." required>
            <button type="submit">Search</button>
            <div class="search-suggestions"></div>
        </form>

        <button id="darkModeButton" type="button" aria-label="Toggle dark mode">
            ⏾
        </button>
    </header>

    <main>
        <section class="filter-section">
            <h2>Filter Artists</h2>

            <form action="/filter" method="GET">

                <div class="filter-group">
                    <label>Creation year</label>

                    <input type="number" name="creationMin" placeholder="From" value="1900">

                    <input type="number" name="creationMax" placeholder="To" value="2026">
                </div>

                <div class="filter-group">
                    <label>First album year</label>

                    <input type="number" name="firstAlbumMin" placeholder="From" value="1900">

                    <input type="number" name="firstAlbumMax" placeholder="To" value="2026">
                </div>

                <div class="filter-group">
                    <label>Number of members</label>

                    <label>
                        <input type="checkbox" name="members" value="1">
                        1
                    </label>

                    <label>
                        <input type="checkbox" name="members" value="2">
                        2
                    </label>

                    <label>
                        <input type="checkbox" name="members" value="3">
                        3
                    </label>

                    <label>
                        <input type="checkbox" name="members" value="4">
                        4
                    </label>

                    <label>
                        <input type="checkbox" name="members" value="5">
                        5
                    </label>

                    <label>
                        <input type="checkbox" name="members" value="6">
                        6
                    </label>
                </div>

                <div class="filter-group">
                    <label for="location">Concert location</label>

                    <input id="location" type="text" name="location" placeholder="Example: texas-usa">
                </div>

                <button type="submit">Apply Filters</button>

                <a href="/">Reset Filters</a>
            </form>
        </section>
        <div class="artist-grid">
            {{range .Artists}}
            <section class="artist-card">
                <h2>{{.Name}}</h2>

                <img src="{{.Image}}" alt="{{.Name}}">


                <button class="quick-view-button" data-artist-id="{{.ID}}" type="button">Quick View</button>
                <a class="view-details-button" href="/artist-details?id={{.ID}}">
                    View Details
                </a>
            </section>
            {{end}}
            {{if .Artists}}
            <!-- artist cards -->
            {{else}}
            <div class="no-results-wrapper">
                <section class="no-results">
                    <h2>No artists found</h2>
                    <p>Try another artist name.</p>
                    <a href="/">Back to all artists</a>
                </section>
            </div>
            {{end}}
        </div>
    </main>

    <aside class="artist-panel">
        <button class="close-panel" type="button">×</button>

        <div class="panel-header">
            <img src="" alt="Artist image" class="panel-image">

            <div>
                <h2 class="panel-name">Artist Name</h2>
                <p class="panel-info">Artist information</p>
            </div>
        </div>
        <section class="panel-members-section">
            <h3>Members</h3>
            <div class="panel-members"></div>
        </section>

        <section class="panel-concert-section">
            <h3>Tour Overview</h3>
            <div class="panel-concerts"></div>
        </section>
    </aside>

    {{if .Artists}}
    <div class="pagination">
        {{if .HasPrevious}}
        <a href="/?page={{.PreviousPage}}">Previous</a>
        {{end}}

        <span>Page {{.CurrentPage}}</span>

        {{if .HasNext}}
        <a href="/?page={{.NextPage}}">Next</a>
        {{end}}
    </div>
    {{end}}

    <script src="/static/darkmode.js" defer></script>
    <script src="/static/sidepanel.js" defer></script>
    <script src="/static/search.js" defer></script>
    <script src="/static/background.js" defer></script>

</body>

</html>